<div class="section">
  <h1>Log In</h1>

  <% form_tag session_path do -%>
  <dl class="form login">
    <dt><%= label_tag :login %></dt>
    <dd><%= text_field_tag :login, @login %></dd>

    <dt><%= label_tag :password %></dt>
    <dd><%= password_field_tag :password, nil %></dd>

    <dd>
      <%= check_box_tag :remember_me, 1, @remember_me %>
      <%= label_tag :remember_me, "Remember me" %>
    </dd>
  </dl>
  <div class="submit"><%= submit_tag "Log in" %></div>
  <% end -%>

  Not already a user? 
  <%= link_to "Register", new_user_path %>
  </div>
</div>
