<dl class="form">
  <dt><%= form.label "Source Name" %></dt>
  <dd><%= form.text_field :name %></dd>
  
  <dt><%= form.label "Application" %></dt>
  <dd>
    <%= form.select :app_id, @apps.map{ |a| [a.name, a.id] } %>
  </dd>
  
  <dt><%= form.label :url %></dt>
  <dd><%= form.text_field :url, :size => 50 %></dd>
  
  <dt><%= form.label :login, "Global login (overrides credential)" %></dt>
  <dd><%= form.text_field :login %></dd>
  <dt><%= form.label :password, "Global password" %></dt>
  <dd><%= form.text_field :password %></dd>
  
  <dt><%= form.label "Poll Interval (seconds)" %></dt>
  <dd><%= form.text_field :pollinterval, :size => 10 %></dd>
  
  <dt><%= form.label :priority %></dt>
  <dd><%= form.text_field :priority, :size => 10 %></dd>
  
  <dd>
    <%= form.check_box :incremental %>
    <%= form.label :incremental, "Incremental (adds to records continuously)" %>
  </dd>
</dl>

<hr />

<p>Provide the name of the source adapter class located in your lib directory which has login, query, sync, create, update, delete, and logoff methods.</p>

<dl class="form">
  <dt><%= form.label "Source adapter class" %></dt>
  <dd><%= form.text_field :adapter, :size => 50 %></dd>
</dl>
