<div class="section">
  <div class="actions">
    <%= link_to("Show records", {:action => 'show', :id => @source.id, :app_id => @source.app.id}) %>
    <%= link_to("Force refresh", {:action=> 'refresh', :id => @source.id,:app_id => @source.app.id}) %>
    <%= link_to("Back to application", {:controller => "apps", :action=>"edit",:id => @source.app_id}) %>
  </div>

  <h2>Editing Source Adapter</h2>

  <% form_for(@source,:url=>{:action=>:update}) do |f| %>
    <%= render :partial => f %>
    <div class="submit"><%= f.submit "Update source adapter code" %></div>
  <% end %>
</div>
