<div class="section">
  <h1>Sign up as a new user</h1>

  <% form_for @user do |f| -%>
    <%= f.error_messages %>
    <dl class="form">
      <dt><%= label_tag :login %></dt>
      <dd><%= f.text_field :login %></dd>

      <dt><%= label_tag :email %></dt>
      <dd><%= f.text_field :email %></dd>

      <dt><%= label_tag :password %></dt>
      <dd><%= f.password_field :password %></dd>

      <dt><%= label_tag :password_confirmation, "Confirm Password" %></dt>
      <dd><%= f.password_field :password_confirmation %></dd>
    </dl>
    <div class="submit"><%= submit_tag "Sign up" %></div>
  <% end -%>
</div>
