<div class="section">
  <h2>Application details</h2>
  <div class="actions">
    <%= link_to('Back to applications list', apps_path) %>
  </div>

  <% form_for(@app) do |f| %>
    <%= f.error_messages %>
    <dl class="form">
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>
      
      <dt><%= f.label :description %></dt>
      <dd><%= f.text_area :description,:rows=>3,:cols=>40  %></dd>
    </dl>
    <div class="submit"><%= f.submit "Save changes" %></div>
  <% end %>
</div>

<div class="section">
  <h2>Sources</h2>
  <table class="list">
    <tr>
      <th>Name</th>
      <th class="center">Priority</th>
    </tr>
    <%- @app.sources.each do |source| -%>
    <tr>
      <td><%= link_to(source.name, edit_source_path(source,:app_id=>@app.id))%></td>
      <td class="center"><%= source.priority || "-" %></td>
      <td class="actions">
        <%= link_to("Delete", app_source_path(@app,source), :confirm => 'Are you sure?', :method => :delete) %> |
        <%= link_to "Refresh", :controller => "sources", :action => "refresh", :id => source.id%>
      </td>
    </tr>
    <%- end -%>
  </table>
  
  <div class="actions">
    <%= link_to("Refresh All", :controller => "apps", :action => "refresh", :id => @app.id) %>
    <%= link_to("Add Source", :controller => "sources", :action => "new", :app => @app.id) %>
  </div>
</div>

<div class="section">
  <h2>Existing Subscribers</h2>
  <ul>
    <%- @app.users.each do |user| -%>
    <li>
      <%= user.login %>
      <%= link_to("(unsubscribe)", {:action => :unsubscribe, :id => @app.id, :subscriber => user.login})%>
    </li>
    <%- end -%>
  </ul>
  
  <%- if @users.any? -%>
  <% form_for(:subscribe, @app, :url => {:controller => "apps", :action => "subscribe", :id => @app.id}) do |f| %>
    <%= select :subscriber, :select, @users.map(&:login), {}, {:name => "subscriber"} %>
    <%= f.submit "Subscribe" %>
  <%- end -%>
  <%- else -%>
    <span class="highlight">All users are subscribed to this app.</span>
  <%- end -%>
</div>
